.header__hero_tabs {
  background-image: url("../images/zaglavlje.webp");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  user-select: none;
}
